# Mustang Esports Server & Supabase Database Configuration
PORT=5000

# Copy your Supabase URL and ANON Key from your Supabase Dashboard -> Project Settings -> API
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
